.green{
    width: 200px;
    height:200px;
    background-color: green;
}

.red {
    width: 200px;
    height:200px;
    background-color: red;
}

.blue{
    width: 200px;
    height:200px;
    background-color: blue;
}
div:hover {
    background-color: lightblue;
}
div:active {
    background-color: blueviolet;
}