@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body, html {
    font-family: 'Inter';
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

h1 {
    font-family: inherit;
    font-weight: 800;
}


.headshot {
    background-color: none;
}

.headshotimg {
    width: 200px;
    height: auto;
}

.container {
    font: inherit;
    display: flex;
    height: 100%;
    margin: 10%;
    width: 75vw;
}

::-webkit-scrollbar { 
    display: none;
}

.leftpane {
    font: inherit;
    width: 30%;
    height: 100%;
    position: fixed;
    display: flex;
}

#leftpanecontent {
    max-height: 70vh;
    font: inherit;
    margin: 10%;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
}

.rightpane {
    width: 70%;
    margin-left: 37.5%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#rightpanecontent {
    margin: 5%;
}

#rightpanecv {
    position: relative;
}

#sociallinks {
    display: flex;
    flex-direction: row;
}

.externallink {
    font: inherit;
    color: #7D9CC0;
    text-decoration: none;
    font-style: bold;
}

.socialicon {
    height: 30px;
    width: auto;
    padding-right: 15px;
}

.nav {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

.navlink {
    font: inherit;
    font-size: 20px;
    font-weight: 800;
    color: #000000;
    padding: 5px;
    text-decoration: none;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.navlink::before, .navlink::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
}

.navlink::before {
    background-color: #7D9CC0;
    height: 3px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}
.navlink::after {
    content: attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    color: #7D9CC0;
}

.navlink:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
}


.navlink span {
    display: inline-block;
}

.navlink:hover span {
    transform: translate3d(-200%, 0, 0);
}
