@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

html,body,div,span,object,h1,h2,h3,h4,h5,h6,p {
	border:0;
	font:inherit;
	font-size:100%;
	margin:0;
	padding: 0;
	vertical-align:baseline;
}

.quickFadedelayTwo {
	padding: 3px;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display:block;
}

html, body {
	background: #161618; 
	font-family: 'Inter', helvetica, arial, sans-serif; 
	font-size: 16px; 
	color: #ffffff;
}

.clear {
	clear: both;
}

.bp {
	padding-top: 5px;
}

.eduationul { 
	list-style: none;
	list-style-position: inside;
	margin-top: 0;
	padding: 0; 
}

p {
	font-size: 1em;
	line-height: 1.4em;
	margin-bottom: 20px;
	color: #ffffff;
}

#cv {
	width: 50%;
	background: #161618;
	margin: 30px auto;
}

.mainDetails {
	padding: 25px 35px;
	border-bottom: 2px solid #ffffff;
	background: #161618;
	justify-content: center;
	align-items: center;
	display: flex;
}

#name h1 {
	font-size: 2.5em;
	font-weight: 700;
	font-family: 'Inter', Helvetica, Arial, sans-serif;
	margin-bottom: -6px;
}

#name h2 {
	font-size: 2em;
	margin-left: 2px;
	font-family: 'Inter', Helvetica, Arial, sans-serif;
}

#mainArea {
	padding: 40px;
}

#headshot {
	width: 10%;
	float: left;
	margin-right: 100px;
}

#headshot img {
	width: 100%;
	height: auto;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

#name {
	float: left;   
}

#contactDetails {
	float: right;
}

#contactDetails ul {
	list-style-type: inside;
	font-size: 0.9em;
	margin-top: 2px;
}

#contactDetails ul li {
	margin-bottom: 3px;
	color: #ffffff;
}

#contactDetails ul li a, a[href^=tel] {
	color: #ffffff; 
	text-decoration: none;
}

#contactDetails ul li a:hover { 
	color: #ffffff;
}


section {
	border-top: 1px solid #dedede;
	padding: 20px 0 0;
}

section:first-child {
	border-top: 0;
}

section:last-child {
	padding: 20px 0 10px;
}

.sectionTitle {
	float: left;
	width: 25%;
}

.sectionContent {
	float: right;
	width: 72.5%;
}

.sectionTitle h1 {
	font-family: 'Inter', Helvetica, Arial, sans-serif;
	font-style: italic;
	font-size: 1.5em;
	color: #ffffff;
}

.sectionContent h2 {
	font-family: 'Inter', Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	margin-bottom: -2px;
}

.subDetails {
	font-size: 0.8em;
	font-style: italic;
	margin-bottom: 3px;
}

.keySkills {
	list-style-type: none;
	-moz-column-count:3;
	-webkit-column-count:3;
	column-count:3;
	margin-bottom: 20px;
	font-size: 1em;
	color: #ffffff;
}

.keySkills ul li {
	margin-bottom: 3px;
}

.circular--portrait { 
	position: relative; 
	width: 125px; 
	height: 125px; 
	overflow: hidden; 
	border-radius: 50%; 
} 
	
.circular--portrait img { 
	width: 100%; 
	height: auto; 
}

@media all and (min-width: 602px) and (max-width: 800px) {
	#headshot {
		display: none;
	}
	
	.keySkills {
	-moz-column-count:2;
	-webkit-column-count:2;
	column-count:2;
	}
}

@media all and (max-width: 601px) {
	#cv {
		width: 95%;
		margin: 10px auto;
		min-width: 280px;
	}
	
	#headshot {
		display: none;
	}
	
	#name, #contactDetails {
		float: none;
		width: 100%;
		text-align: center;
	}
	
	.sectionTitle, .sectionContent {
		float: none;
		width: 100%;
	}
	
	.sectionTitle {
		margin-left: -2px;
		font-size: 1.25em;
	}
	
	.keySkills {
		-moz-column-count:2;
		-webkit-column-count:2;
		column-count:2;
	}
}

@media all and (max-width: 480px) {
	.mainDetails {
		padding: 15px 15px;
	}
	
	section {
		padding: 15px 0 0;
	}
	
	#mainArea {
		padding: 0 25px;
	}

	
	.keySkills {
	-moz-column-count:1;
	-webkit-column-count:1;
	column-count:1;
	}
	
	#name h1 {
		line-height: .8em;
		margin-bottom: 4px;
	}
}


